<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id ="actor1" class="com.stackroute.spring.beans.Actor">
        <constructor-arg index="0" name="name" value="Darshan" type="String" />
        <constructor-arg index="1" name="gender" value="Male" type="String" />
        <constructor-arg index="2" name="age" value="40" type="int" />
    </bean>

    <bean name="MovieA, MovieB" class="com.stackroute.spring.beans.Movie" scope="prototype" >
        <constructor-arg index="0" name="actor" ref="actor1" type="Actor" />
    </bean>

    <bean id ="actor2" class="com.stackroute.spring.beans.Actor">
        <constructor-arg index="0" name="name" value="Puneeth" type="String" />
        <constructor-arg index="1" name="gender" value="Male" type="String" />
        <constructor-arg index="2" name="age" value="42" type="int" />
    </bean>

    <bean id ="actor3" class="com.stackroute.spring.beans.Actor">
        <constructor-arg index="0" name="name" value="Radhika Pandith" type="String" />
        <constructor-arg index="1" name="gender" value="Female" type="String" />
        <constructor-arg index="2" name="age" value="35" type="int" />
    </bean>

    <bean id="MovieC" class="com.stackroute.spring.beans.Movie" scope="prototype" >
        <constructor-arg index="0" name="actor" ref="actor3" type="Actor"/>
    </bean>

</beans>
